<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
      <PatternLayout pattern="%d{ABSOLUTE} %5p [%-15.15t] [%-25.25c{1}] %msg%n"/>
      <!-- %d{ABSOLUTE} %5p [%c{1}] %m%n -->
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="test.uk.co.modularaudio" level="ERROR"/>
    <Logger name="uk.co.modularaudio" level="INFO"/>
    <!-- <Logger name="uk.co.modularaudio.service.samplecaching.impl" level="TRACE"/> -->
    <!-- <Logger name="uk.co.modularaudio.mads.base.soundfile_player" level="TRACE"/> -->
    <Logger name="org" level="ERROR"/>
    <Logger name="com" level="ERROR"/>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
